In [1]:
! wget https://github.com/caserec/Datasets-for-Recommneder-Systems/raw/master/Processed%20Datasets/AmazonMusic.tar.xz
! tar -xf AmazonMusic.tar.xz
! pip install caserecommender

--2019-09-05 14:49:36--  https://github.com/caserec/Datasets-for-Recommneder-Systems/raw/master/Processed%20Datasets/AmazonMusic.tar.xz
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/caserec/Datasets-for-Recommneder-Systems/master/Processed%20Datasets/AmazonMusic.tar.xz [following]
--2019-09-05 14:49:37--  https://raw.githubusercontent.com/caserec/Datasets-for-Recommneder-Systems/master/Processed%20Datasets/AmazonMusic.tar.xz
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.92.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.92.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22112728 (21M) [application/octet-stream]
Saving to: ‘AmazonMusic.tar.xz’

AmazonMusic.tar.xz  100%[===================>]  21,09M  9,81MB/s    in 2,2s

2019-09-05 14:49:40 (9,81 MB/s) - ‘AmazonMusic.tar.xz’ saved [22112728/22112728]

Requirement already satisfied: caserecommender in /home/costaaf/anaconda3/envs/py36/lib/python3.7/site-packages/CaseRecommender-1.1.0-py3.7.egg (1.1.0)
Requirement already satisfied: numpy in /home/costaaf/anaconda3/envs/py36/lib/python3.7/site-packages (from caserecommender) (1.16.2)
Requirement already satisfied: scipy in /home/costaaf/anaconda3/envs/py36/lib/python3.7/site-packages (from caserecommender) (1.3.0)
Requirement already satisfied: scikit-learn in /home/costaaf/anaconda3/envs/py36/lib/python3.7/site-packages (from caserecommender) (0.21.2)
Requirement already satisfied: pandas in /home/costaaf/anaconda3/envs/py36/lib/python3.7/site-packages (from caserecommender) (0.25.0)
Requirement already satisfied: joblib>=0.11 in /home/costaaf/anaconda3/envs/py36/lib/python3.7/site-packages (from scikit-learn->caserecommender) (0.13.2)
Requirement already satisfied: pytz>=2017.2 in /home/costaaf/anaconda3/envs/py36/lib/python3.7/site-packages (from pandas->caserecommender) (2019.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/costaaf/anaconda3/envs/py36/lib/python3.7/site-packages (from pandas->caserecommender) (2.8.0)
Requirement already satisfied: six>=1.5 in /home/costaaf/anaconda3/envs/py36/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->caserecommender) (1.12.0)

In [2]:
ls

AmazonMusic/  AmazonMusic.tar.xz  FBC.ipynb  FC.ipynb  RS_NonPersonalized.ipynb

In [3]:
import pandas as pd
import numpy as np

In [4]:
dataset = pd.read_json('./AmazonMusic/Digital_Music_5.json', lines=True)
dataset.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A3EBHHCZO6V2A4,5555991584,"Amaranth ""music fan""","[3, 3]","It's hard to believe ""Memory of Trees"" came ou...",5,Enya's last great album,1158019200,"09 12, 2006"
1,AZPWAXJG9OJXV,5555991584,bethtexas,"[0, 0]","A clasically-styled and introverted album, Mem...",5,Enya at her most elegant,991526400,"06 3, 2001"
2,A38IRL0X2T4DPF,5555991584,bob turnley,"[2, 2]",I never thought Enya would reach the sublime h...,5,The best so far,1058140800,"07 14, 2003"
3,A22IK3I6U76GX0,5555991584,Calle,"[1, 1]",This is the third review of an irish album I w...,5,Ireland produces good music.,957312000,"05 3, 2000"
4,A1AISPOIIHTHXX,5555991584,"Cloud ""...""","[1, 1]","Enya, despite being a successful recording art...",4,4.5; music to dream to,1200528000,"01 17, 2008"

In [5]:
dataset.overall.value_counts().plot(kind='bar', color=['g', 'c', 'y', 'b', 'r']);

In [6]:
dataset_metadata = pd.read_csv('AmazonMusic/amazon_music_metadata.csv')
dataset_metadata.head()

,asin,title,Accessories,Acid Jazz,Acoustic Blues,Adult Alternative,Adult Contemporary,Africa,Afro Brazilian,Afro-Cuban,...,Wall Stickers,Wall Switches,Washers,Wave Washers & Wave Springs,Wedding Music,West Coast,West Coast Blues,Western Swing,World Dance,World Music
0,5555991584,Memory of Trees,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6308051551,Dont Drink His Blood,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7901622466,On Fire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,B0000000ZW,Changing Faces,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,B00000016W,Pet Sounds,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df_recsys = dataset[['reviewerID', 'asin', 'overall']] 
df_recsys.head()

       reviewerID        asin  overall
0  A3EBHHCZO6V2A4  5555991584        5
1   AZPWAXJG9OJXV  5555991584        5
2  A38IRL0X2T4DPF  5555991584        5
3  A22IK3I6U76GX0  5555991584        5
4  A1AISPOIIHTHXX  5555991584        4

In [8]:
df_recsys = df_recsys.merge(dataset_metadata[['asin', 'title']])

In [9]:
# unique users
df_recsys.reviewerID.unique()

array(['A3EBHHCZO6V2A4', 'AZPWAXJG9OJXV', 'A38IRL0X2T4DPF', ...,
       'A3IZB368BG43JS', 'A1TPW86OHXTXFC', 'AVSVOKDI0AGR7'], dtype=object)

In [10]:
# unique items
df_recsys.asin.unique()

array(['5555991584', 'B0000000ZW', 'B00000016T', ..., 'B000FBGBQ6',
       'B000FDEUI0', 'B000FDFRX2'], dtype=object)

In [11]:
df_recsys.tail()

           reviewerID        asin  overall                 title
51791  A2LZJ5J9H862SN  B000FDFRX2        5  The Best Of Survivor
51792  A14W8HXP3RM3ZS  B000FDFRX2        3  The Best Of Survivor
51793   AIMMIYQCNGM24  B000FDFRX2        5  The Best Of Survivor
51794   AGGC3BHIG6A5K  B000FDFRX2        5  The Best Of Survivor
51795  A3464G00K8ZYD1  B000FDFRX2        5  The Best Of Survivor

### Map users and itens

In [12]:
map_users = {user: u_id for u_id, user in enumerate(df_recsys.reviewerID.unique())}
map_items = {item: i_id for i_id, item in enumerate(df_recsys.asin.unique())}

In [13]:
df_recsys['asin'] = df_recsys['asin'].map(map_items)
df_recsys['reviewerID'] = df_recsys['reviewerID'].map(map_users)

In [14]:
df_recsys.head()

   reviewerID  asin  overall            title
0           0     0        5  Memory of Trees
1           1     0        5  Memory of Trees
2           2     0        5  Memory of Trees
3           3     0        5  Memory of Trees
4           4     0        4  Memory of Trees

In [15]:
asin_title = {}

for idx, row in df_recsys.iterrows():
    asin_title[row['asin']] = row['title']
    
np.save('map_tilte.npy', asin_title)

### Divide dataset

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
train, test = train_test_split(df_recsys, test_size=0.33, random_state=42)
train.to_csv('train.dat', index=False, header=False, sep='\t')
test.to_csv('test.dat', index=False, header=False, sep='\t')

In [18]:
ls -l

total 23256
drwxr-xr-x 2 costaaf costaaf     4096 set  4 17:33 AmazonMusic/
-rw-r--r-- 1 costaaf costaaf 22112728 set  5 14:49 AmazonMusic.tar.xz
-rw-rw-r-- 1 costaaf costaaf    48076 set  5 12:18 FBC.ipynb
-rw-rw-r-- 1 costaaf costaaf    16396 set  4 18:07 FC.ipynb
-rw-r--r-- 1 costaaf costaaf    74684 set  5 14:49 map_tilte.npy
-rw-rw-r-- 1 costaaf costaaf    71601 set  4 17:51 RS_NonPersonalized.ipynb
-rw-r--r-- 1 costaaf costaaf   484253 set  5 14:49 test.dat
-rw-r--r-- 1 costaaf costaaf   985210 set  5 14:49 train.dat

# Case Recommender

You could also use:

> from caserec.utils.split_database import SplitDatabase

> SplitDatabase(input_file=dataset, dir_folds=dir_path, n_splits=10).k_fold_cross_validation()

### Rating Prediction

In [19]:
from caserec.recommenders.rating_prediction.most_popular import MostPopular

MostPopular('train.dat', 'test.dat', 'rp_mostPopular.dat').compute()

[Case Recommender: Rating Prediction > Most Popular]

train data:: 5036 users and 2581 items (34703 interactions) | sparsity:: 99.73%
test data:: 4508 users and 2493 items (17093 interactions) | sparsity:: 99.85%

prediction_time:: 0.522835 sec


Eval:: MAE: 0.744015 RMSE: 1.005638

In [20]:
predictions = pd.read_csv('rp_mostPopular.dat', sep='\t', names=['reviewerID', 'asin', 'rate'])
predictions['title'] = predictions.asin.map(asin_title)
predictions.head()

   reviewerID  asin      rate                        title
0           0  2471  3.777778  Jagged Little Pill Acoustic
1           0  1978  4.583333        La Revancha Del Tango
2           0     0  4.875000              Memory of Trees
3           1  1272  4.333333                 Ani Difranco
4           1   667  4.833333                For the Roses

### Ranking

In [21]:
from caserec.recommenders.item_recommendation.most_popular import MostPopular

MostPopular('train.dat', 'test.dat', 'rank_mostPopular.dat').compute(as_table=True, metrics=['NDCG'])

[Case Recommender: Item Recommendation > Most Popular]

train data:: 5036 users and 2581 items (34703 interactions) | sparsity:: 99.73%
test data:: 4508 users and 2493 items (17093 interactions) | sparsity:: 99.85%

prediction_time:: 63.458391 sec


NDCG@1	NDCG@3	NDCG@5	NDCG@10
0.019299	0.041359	0.051351	0.065469

In [22]:
ranking = pd.read_csv('rank_mostPopular.dat', sep='\t', names=['reviewerID', 'asin', 'score'])
ranking['title'] = ranking.asin.map(asin_title)
ranking.head(10)

   reviewerID  asin  score                                           title
0           0  1770  596.0                         The Marshall Mathers LP
1           0  2039  577.0  The Eminem Show [Limited Edition w/ Bonus DVD]
2           0  2133  551.0                           Get Rich Or Die Tryin
3           0   169  511.0                                  All Eyez on Me
4           0  2212  510.0                    Speakerboxxx/ The Love Below
5           0   992  509.0                             Are You Experienced
6           0  2408  492.0                                 The Documentary
7           0  1665  480.0                                        Toxicity
8           0  1955  470.0                                       Blueprint
9           0   459  467.0                                        Thriller

In [23]:
train[train.reviewerID == 0]

       reviewerID  asin  overall               title
18167           0   959        5        Ray of Light
19290           0  1011        5                Axis
27005           0  1523        5  Experience Hendrix
37443           0  2014        2   Come Away with Me